# ignore all
*

# except for the following
!Pipfile*
!predict.py
!models/model_random_forest.bin
!models/dv.bin
!models/data_normalizers.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore