# installing latest versions as mentioned in the instruction
# (https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/01-intro/06-environment.md)
# for all other libraries installing specific versions with option for patch updates (latest version on 2023-11-14)

jupyterlab==4.0.6

numpy==1.26.0
pandas==2.1.1
scikit-learn==1.3.1

# had to downgrade to 3.7.3 from 3.8 due to issues with seaborn
# https://stackoverflow.com/a/77165291/11687201
matplotlib==3.7.3
seaborn==0.12.2

ucimlrepo==0.0.2
mlxtend==0.23.0
tqdm==4.66.1
xgboot==2.0.1